Brewfile.lock.json

.zsh_history
.zsh_sessions

stow/.config/containers

stow/.config/gpg/*
!stow/.config/gpg/gpg-agent.conf
!stow/.config/gpg/gpg.conf

stow/.config/iterm2
!stow/.config/iterm2/settings

stow/.config/mise/age.txt

stow/.config/op

stow/.config/pulumi

stow/.config/.wrangler
stow/.config/zed
