[submodule "stow/.zprezto-contrib/zsh-notify"]
	path = stow/.zprezto-contrib/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
	branch = master
[submodule "iterm/dracula"]
	path = iterm/dracula
	url = https://github.com/dracula/iterm.git
	branch = master
[submodule "stow/.config/zsh/.zprezto"]
	path = stow/.config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
	branch = master
[submodule "stow/.config/ghostty/themes"]
	path = stow/.config/ghostty/themes
	url = https://github.com/dracula/ghostty.git
