[submodule "stow/.asdf"]
	path = stow/.asdf
	url = https://github.com/asdf-vm/asdf.git
	ignore = dirty
[submodule "stow/.config/base16-shell"]
	path = stow/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	ignore = dirty
[submodule "stow/.config/dracula"]
	path = stow/.config/dracula
	url = https://github.com/dracula/zsh.git
	ignore = dirty
[submodule "stow/.config/zsh/plugins/zsh-notify"]
	path = stow/.config/zsh/plugins/zsh-notify
	url = https://github.com:marzocchi/zsh-notify.git
[submodule "iterm/dracula"]
	path = iterm/dracula
	url = https://github.com/dracula/iterm.git
[submodule "stow/.config/zsh/.zprezto"]
	path = stow/.config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
