[user]
	name = Jonathan Haines
	email = jonno.haines@gmail.com
	signingkey = A045A2D259E8FB45

[core]
	excludesfile = /Users/jonno/.gitignore_global

[github]
  	user = barrythepenguin

[hub]
	protocol = ssh:

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[merge]
	conflictstyle = zdiff3

[push]
	default = simple

[pull]
	rebase = true

[rebase]
	autoStash = true

[url "git@github.com:blake-education/"]
	insteadOf = https://github.com/blake-education/

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
