"*":
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: [
      "ide-rust"
    ]
  core:
    disabledPackages: [
      "pigments"
      "markdown-preview"
      "whitespace"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "~/Blake"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "dracula-syntax"
    ]
    titleBar: "hidden"
  "css-declaration-sorter":
    sortOrder: "smacss"
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
  "exception-reporting":
    userId: "c609a773-9be5-c877-d805-674c6616fddf"
  "file-icons": {}
  "find-and-replace":
    useRipgrep: true
  "flow-ide": {}
  fonts:
    fontFamily: "FiraCode"
    preview: "The Quick brown fox { 0 !== \"O\" } () => { return \"Hello\" }"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-plus":
    general:
      _analyticsUserId: "57471cb6-c26d-4af0-b4dc-aef0b8d719c9"
  "ide-typescript":
    javascriptSupport: false
    typeScriptServer: {}
  "language-babel": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter: {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    disableWhenNoEslintrcFileInPath: true
    global: {}
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "source.ts"
    ]
  "linter-less":
    includePath: [
      "node_modules"
    ]
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-ui-default":
    panelHeight: 300
  "linter-xo":
    fixOnSave: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  pigments:
    traverseIntoSymlinkDirectories: true
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    silenceErrors: true
    useEslint: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".handlebars.html.text":
  editor:
    autoIndent: true
